<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    #messagebox {
    }

    #chatbox{
      border: 2px solid black;
      width: 300px;
      height: 300px;
      overflow: auto;
    }

    #myPublisherDiv{
      display: inline-block;
    }
    #subscribersDiv{
      display: inline-block;
    }
  </style>
</head>
<body>
  <div id = 'myPublisherDiv'></div>
  <div id = 'subscribersDiv'></div>
  <div>
    <button id = "home">Home</button>
    Welcome to room:<%= rmname %>
    <button id ="videochat">Video Chat</button>
    <button id ="mailmsg">Send transcript</button>
  </div>
  <div>
    <div>
      <input id="messagebox" type="text" value placeholder="Enter Message" autofocus>
    </div>
    <div id="chatbox"></div>
  </div>
  <script src='//static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script>
    var user = prompt("Enter user name");
    var rmname = "<%= rmname %>";
    setInterval(function(){
      $.get("/getchat?rmname=" + rmname, function(res) {
        var chat = res;
        $('#chatbox').empty();
        for (var i = 0; i < chat.length; i++) {
          $('#chatbox').append("<div>" + chat[i].user + ": " + chat[i].msg + "</div>");
        };
      });
      $('#chatbox').animate({scrollTop: 10000}, 100);
    }, 500);

    $('#home').click( function () {
      window.location = '/';
    });
    $('#videochat').click( function() {
      $.get("/videochat/" + rmname, function(res) {
        var api_key = res.api_key;
        var session_id = res.session_id;
        var token = res.token;
        var session = OT.initSession(api_key, session_id);
        session.on ({
          streamCreated: function(event) {
            session.subscribe(event.stream, 'subscribersDiv', {insertMode: 'append'});
          }
        });
        session.connect(token, function(error) {
          if (error) {
            console.log(error.message);
          }
          else {
            session.publish('myPublisherDiv', {width:320, height:240});
          };
        });
      });
    });
    $('#mailmsg').click( function() {
      var email = prompt('Enter your email address:');
    });
    $('input').keyup(function(e){
      if(e.keyCode == 13 & $(this).val() !== ""){
        var msg = $(this).val();
        $.get("/chat?msg=" + msg + "&user=" + user + "&rmname=" + rmname);
        $(this).val("");
      };
    });
  </script>
</body>
</html>
